.container {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: darkcyan;
  font-size: 25px;
}

a {
  color: orangered;
  text-decoration: none;
  padding: 0 50px;
}

.active {
  color: azure;
}
